{% extends "leaflet/widget.html" %}
{% load i18n %}
{% load static from staticfiles %}


{% block map_css %}
    {{ block.super }}

    /* Fixes for Django base.css */
    .module .leaflet-draw ul {
        margin-left: 0px;
        padding-left: 0px;
    }
    .module .leaflet-draw ul li {
        list-style-type: none;
    }

    .leaflet-contextmenu {
        background: #fff;
        padding: 5px;
    }
{% endblock map_css %}


{% block vars %}
    {{ block.super }}

    {% include "leaflet/_leaflet_draw_i18n.js" %}
    L.Control.ResetView.TITLE = "{% trans "Reset view" %}";
    L.Control.ResetView.ICON = "url({% static "leaflet/images/reset-view.png" %})";
{% endblock vars %}

{% block map %}
<div id="{{ id_css }}-div-map">
    {{ block.super }}
    <script type="text/javascript">
      function setupMap(map) {
        // default view to over new york
        map.setView([40.7128, -74.0060], 12);

        // remove any layer added by django-leaflet
        map.eachLayer(function (l) {
          map.removeLayer(l);
        });

        L.esri.basemapLayer('Imagery').addTo(map);
        L.esri.basemapLayer('ImageryLabels').addTo(map);

        var osmGeocoder = new L.Control.OSMGeocoder({
          collapsed: false,
          email: 'freespace@gmail.com',
          callback: function(r) {
            if (r != null && r.length > 0) {
              var c = L.latLng(r[0].lat, r[0].lon);
              console.log(c);
              map.setView(c, 17);
            }
          }
        });

        osmGeocoder.addTo(map);

        L.control.mousePosition({
                               numDigits: 6,
                               prefix: 'Lat/Lng:',
                               separator: ','
        }).addTo(map);

        map.contextmenu.addItem({
          text:'Show coordinates',
          callback: function (ev) {
            L.popup().setLatLng(ev.latlng).setContent('Lat/Lng: '+ ev.latlng.lat.toFixed(6) + ',' + ev.latlng.lng.toFixed(6)).openOn(map);
        },
      });
      };

      window.addEventListener("map:init", function (e) {
        var map = e.detail.map;
        setupMap(map);
      });
    </script>
</div>
{% endblock map %}
